/* assets/style.css */
.custom-tabs .custom-tab {
    background: #41c192;
    border: 1px solid #afeed3;
    padding: 10px;
    border-radius: 5px;
}

.custom-tabs .custom-tab--selected {
    background: #019c95;
    color: white;
    border: 1px solid #05b5e6;
}

/* Toggle Button */
.toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #fff; /* White background */
    border: 1px solid #05b5e6; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    outline: none; /* Remove outline */
    z-index: 2; /* Ensure it's above other content */
}

.toggle-button:before {
    content: ''; /* Arrow icon will be created using borders */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg); /* Rotate arrow to point left */
    border: solid black; /* Black arrow color */
    border-width: 0 2px 2px 0; /* Arrow shape */
    padding: 3px; /* Arrow size */
    display: none;
}

/* Style to rotate arrow icon when sidebar is collapsed */
.sidebar-collapsed .toggle-button:before {
    transform: translate(-50%, -50%) rotate(-90deg); /* Rotate arrow to point right */
}

/* Style for btns */
.button-primary-hover-sm {
    transition-duration: 0.4s;
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button-primary-hover-lg {
    transition-duration: 0.4s;
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button-primary-hover-sm:hover {
    background-color: #008CBA; /* Blue */
    color: white;
  }

  .button-primary-hover-lg:hover {
    background-color: #008CBA; /* Blue */
    color: white;
  }

  /* Hover effect for Dash DataTable */
.dash-spreadsheet-container .dash-spreadsheet-inner tr:hover {
  background-color: rgba(0, 116, 217, 0.1);
  border: 1px solid rgba(0, 116, 217, 0.6);
}


/* Sidebar */
